<!DOCTYPE html>
<html ng-app="starter" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

	<!-- Include Google Maps JS API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCniBWT2gabAA9qStfhlwamdnPY59-wimU&sensor=false"></script>
	<style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; }
        #mapDiv { width: 100%; height: 100%; }
    </style>

	<!-- Map creation is here -->
	<script src="js/googlemaps.js"></script>

    <!-- ionic/angularjs js -->
    <script src="js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="MyController" id="mainApp">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>


		<div id="mapDiv"></div>
    </ion-pane>

	<div class="tabs">
	  <a class="tab-item" ng-click="openModal()">
	    Help
	  </a>
	</div>

<script id="game-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Welcome to the game</h1>
    </ion-header-bar>
    <ion-content>
      <a href="#" ng-click="closeGameModal()">Close modal</a>
      [ the game will be here eventually ]
    </ion-content>
  </ion-modal-view>
</script>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">How to play</h1>
    </ion-header-bar>
    <ion-content>
      <a href="#" ng-click="closeModal()">Close modal</a>
      Instructions here blah blah blah
    </ion-content>
  </ion-modal-view>
</script>


  </body>
</html>